/* Display inline, si queda espacio, se pondrá delante uno de otro */
.block-element{
    background-color: green;
    margin: 10px;
    padding: 20px;
    
}
/* A los elementos con un display inline, no se les puede agregar margin */
.nav {
    background-color: aqua;
    list-style: none;
    padding: 20px;
    text-align: center;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.nav li:hover{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    
}