*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.padre{
    display: inline-block;
    background-color: #FC8805;
    width: 285px;
    height: 390px;
    border: solid 2px black;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
}
picture{
    display:flex;
    justify-items: center;
}
img{
    margin-left: 67px;
    width: 150px;
    height: 150px;
}
.parrafo{
    margin: 20px;
}
.parrafo p{
    color: rgb(13,13,66);
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.picachu{
    display: flex;
    width: 160px;
    height: 30px;
    margin: 0 auto;
    background-color: #ff4415;
    border: solid 2px black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.picachu p{
    font-size: 20px;
    font-weight: bold;
}
section{
    position: relative;
    top: -15px;
}
.lista{
    align-content: center;
    margin-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.lista_items li:hover{
    list-style: none;
    color:yellow;
}
.lista_items li{
    list-style: none;
}
.padre_de_todo{
    margin-top: 30px;
}

